$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

@mixin h3-mobile {
    font-family: Georgia, sans-serif;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    font-weight: normal;
}

@mixin h3 {
    font-family: Georgia, sans-serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-weight: normal;
}

@mixin h2 {
    font-family: Georgia, sans-serif;
    font-size: 44px;
    line-height: 130%;
    font-weight: normal;
}

@mixin h4 {
    font-family: Georgia, sans-serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    font-weight: normal;
}

@mixin h5 {
    font-family: Georgia, sans-serif;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-weight: normal;
}

@mixin h5-modal-window {
    font-family: Georgia, sans-serif;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-weight: bold;
}

@mixin paragraph-l {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    font-weight: normal;
}

@mixin paragraph-s {
    font-family: Arial;
    font-size: 12px;
    line-height: 150%;
    font-style: italic;
    font-weight: normal;
}

@mixin paragraph-mobile-menu {
    font-family: Arial;
    font-size: 32px;
    line-height: 160%;
    font-weight: normal;
}

@mixin logo-title {
    font-family: Georgia, sans-serif;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-weight: normal;
}

@mixin logo-subtitle {
    font-family: Arial;
    font-size: 13px;
    line-height: auto;
    letter-spacing: 0.1em;
    font-weight: normal;
}

@mixin ag {
    font-family: Georgia, sans-serif;
    font-size: 17px;
    letter-spacing: 0.06em;
    font-weight: normal;
}

$tablet: 767px;
$desktop: 1279px;

body {
    font-family: Arial, sans-serif;
}

.wrapper {
    &__start {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(../../assets/images/start-screen-gradient-background.svg);
        background-size: cover;
        height: 908px;

        @media only screen and (max-width: $desktop) {
            height: 1165px;
        }

        @media only screen and (max-width: $tablet) {
            height: 823px;
        }
    }

    &__about {
        background-color: $color-light-xl;
        height: 588px;

        @media only screen and (max-width: $desktop) {
            height: 1048px;
        }

        @media only screen and (max-width: $tablet) {
            height: 974px;
        }
    }

    &__friends {
        background-color: $color-light-l;
        height: auto;

        @media only screen and (max-width: $tablet) {
            height: auto;
            padding: 42px 10px;
        }

    }

    &__help {
        background-color: $color-light-xl;
        height: 611px;

        @media only screen and (max-width: $desktop) {
            height: auto;
            padding: 80px 30px 100px 30px;
        }

        @media only screen and (max-width: $tablet) {
            height: auto;
            padding: 42px 10px;
        }
    }

    &__donation {
        background-color: $color-light-l;
        height: auto;

        @media only screen and (max-width: $desktop) {
            height: auto;
            padding: 80px 30px 100px 30px;
        }

        @media only screen and (max-width: $tablet) {
            height: auto;
            padding: 42px 10px;
        }
    }

    &__footer {
        background-image: url(../../assets/images/footer-gradient-background.svg);
        background-size: cover;
        height: 350px;

        @media only screen and (max-width: $desktop) {
            height: 639px;
        }

        @media only screen and (max-width: $tablet) {
            height: auto;
            padding: 30px 10px 0 10px;
        }
    }
}

.header {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    @media only screen and (max-width: $desktop) {
        padding: 30px 30px 0 30px;
    }

    a {
        text-decoration: none;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        cursor: pointer;

        h1 {
            margin: 0;
            margin-block-end: 0;
            margin-block-start: 0;
        }

        &__title {
            color: $color-primary;
            @include logo-title;
        }

        &__subtitle {
            color: $color-light-xl;
            @include logo-subtitle;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-inline-start: 0;

        a {
            cursor: pointer;
            text-decoration: none;
            margin-left: 36px;
            color: $color-dark-s;
            @include paragraph-l;

            &:hover {
                color: $color-light-s;
            }
        }

        .active {
            a {
                color: $color-light-s;
                border-bottom: 3px solid $color-primary;
            }
        }

    }

    .btn-toggle {
        display: none;
    }
}

.screen {
    flex-grow: 1;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @media only screen and (max-width: $desktop) {
        padding: 0 30px;
        align-items: center;
        flex-direction: column;
    }

    &__content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        @media only screen and (max-width: $desktop) {
            width: 100%;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__block {
            height: auto;
            margin-top: 223px;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 42px;

            @media only screen and (max-width: $desktop) {
                margin: 0 auto;

                a {
                    margin: 0 auto;
                }
            }

            &__title {
                width: 310px;
                color: $color-light-xl;
                @include h2;
            }

            &__direction {
                max-width: 460px;
                color: $color-dark-s;
                @include paragraph-l;
            }

            &__button {
                cursor: pointer;
                display: inline-block;
                background-color: $color-primary;
                border-radius: 50px;
                padding: 15px 45px;
                @include ag;
                color: $color-dark-3xl;

                &:hover {
                    background-color: $color-primary-light;
                }
            }
        }

        &__image {
            align-self: flex-end;
            position: relative;

            img {
                position: absolute;
                bottom: 0;
                right: 0;

                @media only screen and (max-width: $desktop) {
                    width: 569px;
                }

                @media only screen and (max-width: $tablet) {
                    width: 260px;
                }
            }

            @media only screen and (max-width: $desktop) {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.toggle {
    &__menu {
        position: absolute;
        height: 100vh;
        width: 0px;
        right: 0;
        top: 0;
        background-color: $color-dark-3xl;
        z-index: 10;
        overflow: hidden;
        margin: 0 auto;
        box-sizing: border-box;

        &__wrap {
            margin: 30px 10px;
            height: 100%;

            ul {
                margin: 0;
                padding: 0;
            }

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .logo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 60px;
                    cursor: pointer;

                    h1 {
                        margin: 0;
                        margin-block-end: 0;
                        margin-block-start: 0;
                    }

                    &__title {
                        color: $color-primary;
                        @include logo-title;
                    }

                    &__subtitle {
                        color: $color-light-xl;
                        @include logo-subtitle;
                    }
                }

                img {
                    cursor: pointer;
                    flex-grow: 1;
                    height: 26px;
                }
            }

            a {
                text-decoration: none;
            }
        }

        .nav {
            display: flex;
            list-style-type: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 90px);
            gap: 40px;

            a {
                cursor: pointer;
                text-decoration: none;
                color: $color-dark-s;
                @include paragraph-mobile-menu();

                &:hover {
                    color: $color-light-s;
                }
            }

            .active {
                a {
                    color: $color-light-s;
                    border-bottom: 3px solid $color-primary;
                }
            }

        }


    }
}

@keyframes move-left {
    from {
        right: -320px;
    }

    to {
        right: 0;
    }
}

.transition-toggle-menu {
    width: 320px;
    right: 0px;
    animation-name: move-left;
    animation-duration: 2s;
}

@keyframes move-right {
    from {
        right: 0;
    }

    to {
        right: -320px;
    }
}

.transition-toggle-menu-leave {
    width: 320px;
    right: -320px;
    animation-name: move-right;
    animation-duration: 2s;
}

#btn-toggle {
    z-index: 100;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        margin-right: 0px;
    }

    to {
        transform: rotate(90deg);
        margin-right: 30px;
    }
}

@keyframes rotate-leave {
    from {
        transform: rotate(90deg);
        margin-right: 30px;
    }

    to {
        transform: rotate(0deg);
        margin-right: 0px;
    }
}

.rotate-leave {
    animation-name: rotate-leave;
    animation-duration: 2s;
    z-index: 10;
}

.rotate {
    animation-name: rotate;
    animation-duration: 2s;
    z-index: 10;
}

.btn-toggle.rotate-leave {
    transform: rotate(0deg);
    margin-right: 0px;
    z-index: 10;
}

.btn-toggle.rotate {
    z-index: 10;
    transform: rotate(90deg);
    margin-right: 30px;
}

@media only screen and (max-width: $tablet) {
    .header {
        padding: 30px 10px 0 10px;

        nav {
            .btn-toggle {
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                z-index: 5;
            }

            .nav.no-show {
                display: none;
            }
        }
    }

    .header.open {
        z-index: 10;
        background-color: $color-dark-3xl;
        width: 320px;
        position: absolute;
        right: 0;

        nav {
            flex-grow: 1;
            z-index: 10;
            position: relative;

            .btn-toggle {
                display: flex;
                justify-content: center;
                z-index: 10;
            }

            .nav {
                position: absolute;
                background-color: $color-dark-3xl;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                right: -10px;
                width: 320px;
                padding: 158px 0 253px 0;
                box-sizing: border-box;

                li:not(:last-child) {
                    margin-bottom: 40px;
                }

                a {
                    font-size: 32px;
                }

                li:not(:first-child) {
                    margin-left: 0;
                }
            }

            .nav.no-show {
                display: none;
            }
        }
    }

    .screen {
        padding: 0 10px;
        z-index: 0;

        &__content {
            &__block {
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                gap: 0;

                &__title {
                    width: 250px;
                    @include h3-mobile;
                }

                &__direction {
                    text-align: center;
                    margin-top: 41px;
                    margin-bottom: 43px;
                    width: 300px;
                }
            }
        }

        &__image {
            margin-top: -20px;

            img {
                height: 271px;
            }
        }
    }

}

.about {
    position: relative;
    top: 80px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;

    @media only screen and (max-width: $desktop) {
        flex-direction: column-reverse;
        ;
        padding: 0 30px;
    }

    @media only screen and (max-width: $tablet) {
        top: 42px;
        padding: 0 10px;
    }

    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &__description {
        width: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 120px;

        @media only screen and (max-width: $desktop) {
            margin-left: 0;
            margin-bottom: 80px;
        }

        @media only screen and (max-width: $tablet) {
            width: 100%;
            text-align: justify;
        }

        &__title {
            color: $color-dark-l;
            @include h3;
            margin-bottom: 25px;

            @media only screen and (max-width: $tablet) {
                @include h3-mobile;
            }
        }

        &__paragraph {
            color: $color-dark-xl;
            @include paragraph-l();

            &:not(:last-child) {
                margin-bottom: 25px;
            }

            @media only screen and (max-width: $tablet) {
                margin: 0 15px;
            }
        }
    }

    &__images {
        img {
            width: 300px;

            @media only screen and (max-width: $tablet) {
                width: 260px;
                margin-top: -42px;
            }
        }
    }
}

.friends {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 80px 40px 100px;

    @media only screen and (max-width: $desktop) {
        padding: 80px 30px 100px;
    }

    @media only screen and (max-width: $tablet) {
        padding: 0px;
        top: 0px;
        bottom: 0;
        height: auto;
        justify-content: flex-start;
    }

    a {
        text-decoration: none;
    }

    &__title {
        width: 400px;
        color: $color-dark-l;
        text-align: center;
        @include h3;

        @media only screen and (max-width: $tablet) {
            @include h3-mobile;
        }
    }

    &__blocks {
        margin: 60px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: $tablet) {
            margin: 42px 0;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &__carousel__items {
            @media only screen and (max-width: $tablet) {
                order: -1;
            }

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 90px;

            @media only screen and (max-width: $desktop) {
                gap: 40px;
                margin: 0 auto;
                justify-content: space-around;
            }

            &__item:last-child {
                @media only screen and (max-width: $desktop) {
                    display: none;
                }
            }

            &__item:not(:first-child) {
                @media only screen and (max-width: $tablet) {
                    display: none;
                }
            }

            &__item {
                cursor: pointer;
                background-color: $color-light-s;
                height: 435px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                @media only screen and (max-width: $desktop) {
                    margin-bottom: 0px;
                }

                @media only screen and (max-width: $tablet) {
                    margin-bottom: 20px;
                }

                &__img {
                    @media only screen and (max-width: $desktop) {
                        margin-bottom: 25px;
                    }

                    margin-bottom: 22px;
                }

                &__name {
                    color: $color-dark-l;

                    @media only screen and (max-width: $desktop) {
                        margin-bottom: 25px;
                    }

                    margin-bottom: 30px;
                    font-family: Georgia,
                    sans-serif;
                    font-size: 20px;
                    letter-spacing: 0.06em;
                }

                &__btn {
                    margin-bottom: 30px;
                    display: inline-block;
                    background-color: $color-light-s;
                    border-radius: 50px;
                    border: 2px solid $color-primary;
                    color: $color-dark-3xl;
                    padding: 16px 44px;
                    @include ag;
                }

                &:hover {
                    background-color: $color-light-xl;

                    .friends__blocks__carousel__items__item__btn {
                        background-color: $color-primary;

                        &:hover {
                            background-color: $color-primary-light;
                        }
                    }
                }
            }
        }

        &__left,
        &__right {
            cursor: pointer;
            color: $color-dark-3xl;
            border: 2px solid $color-primary;
            border-radius: 50px;
            min-height: 50px;
            min-width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $color-primary;
            }

            @media only screen and (max-width: $desktop) {
                min-height: 47px;
                min-width: 47px;
            }

            @media only screen and (max-width: $tablet) {
                min-height: 47px;
                min-width: 47px;
            }

        }
    }

    &__button {
        cursor: pointer;
        display: inline-block;
        background-color: $color-primary;
        border-radius: 50px;
        color: $color-dark-3xl;
        padding: 15px 45px;
        @include ag;

        &:hover {
            background-color: $color-primary-light;
        }

        @media only screen and (max-width: $tablet) {
            margin-bottom: 0;
        }

    }
}

.help {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    padding-top: 80px;
    color: $color-dark-l;

    @media only screen and (max-width: $desktop) {
        padding: 0 30px;
    }

    @media only screen and (max-width: $tablet) {
        padding: 0;
        margin: 0;
    }

    &__title {
        margin: 0 auto;
        margin-bottom: 60px;
        width: 400px;
        @include h3;
        text-align: center;

        @media only screen and (max-width: $desktop) {
            margin-bottom: 0;
        }

        @media only screen and (max-width: $tablet) {
            margin-top: 0;
            width: auto;
            @include h3-mobile;
        }

    }

    &__blocks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media only screen and (max-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 40px;
        }

        @media only screen and (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 12px;
            column-gap: 20px;
        }

        &__item {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 113px;
            margin: 0 60px 55px 60px;

            @media only screen and (max-width: $desktop) {
                margin: 56px 0 0 0;
            }

            &__img {
                img {
                    @media only screen and (max-width: $tablet) {
                        height: 50px;
                    }
                }
            }

            &__name {
                @include h4;

                @media only screen and (max-width: $desktop) {
                    align-self: center;
                }

                @media only screen and (max-width: $tablet) {
                    @include h5;
                }
            }
        }

        @media only screen and (max-width: $tablet) {
            &__carousel__item {
                margin: 30px 0 0px 0;
                height: 87px;
            }
        }

    }
}

.donation {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 40px 100px;

    @media only screen and (max-width: $desktop) {
        padding: 0;
        height: auto;
        align-items: baseline;
    }

    @media only screen and (max-width: $tablet) {
        padding: 0;
        height: auto;
    }

    &__content {
        display: flex;
        margin: 0 auto;
        gap: 30px;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $desktop) {
            flex-direction: column-reverse;
            gap: 0;
        }

        &__description {
            width: 380px;

            @media only screen and (max-width: $desktop) {
                margin: 0 auto;
                margin-bottom: 0px;
            }

            @media only screen and (max-width: $tablet) {
                margin: 0 auto;
                width: 300px;
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__title {
                margin-bottom: 20px;
                color: $color-dark-l;
                @include h3;

                @media only screen and (max-width: $desktop) {
                    margin-bottom: 20px;
                }

                @media only screen and (max-width: $tablet) {
                    margin-bottom: 25px;
                    @include h3-mobile;
                }

            }

            &__paragraph {
                color: $color-dark-l;
                @include h5;
                margin-bottom: 20px;

                @media only screen and (max-width: $tablet) {
                    text-align: center;
                    letter-spacing: 0;
                    margin-bottom: 23px;
                }

            }

            a {
                text-decoration: none;
            }

            &__card {
                cursor: pointer;
                width: max-content;
                background-color: $color-primary;
                border-radius: 9px;
                color: $color-dark-l;
                padding: 10px 15px;
                @include h4;
                margin-bottom: 20px;
                display: flex;
                align-items: center;

                @media only screen and (max-width: $tablet) {
                    margin: 0 auto;
                    font-size: 15px;
                    line-height: 110%;
                }

                &:hover {
                    background-color: $color-primary-light;
                }

                img {
                    margin-right: 15px;
                }
            }

            &__placeholder {
                font-size: 12px;
                color: $color-dark-m;
                font-style: italic;
                line-height: 150%;

                @media only screen and (max-width: $desktop) {
                    margin-top: 0px;
                    line-height: 150%;
                }

                @media only screen and (max-width: $tablet) {
                    text-align: justify;
                    align-self: center;
                    margin-top: 21px;
                    width: 280px;
                    font-size: 12px;
                    line-height: 150%;
                }
            }
        }

        &__images {
            margin: 0 auto;

            @media only screen and (max-width: $desktop) {
                margin-top: 60px;
                height: 0;
            }

            @media only screen and (max-width: $tablet) {
                height: 0;
                margin-top: 42px;
            }

            img {
                @media only screen and (max-width: $desktop) {
                    position: block;
                    bottom: 0;
                }

                @media only screen and (max-width: $tablet) {
                    bottom: 0;
                    width: 260px;
                }

            }
        }
    }
}

.footer {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;

    @media only screen and (max-width: $desktop) {
        padding: 30px 30px 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // column-gap: 20px;
    }

    @media only screen and (max-width: $tablet) {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: $color-primary;
    }

    :last-child {
        @media only screen and (max-width: $desktop) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

    }

    &__item {
        img {
            position: relative;
            bottom: -5px;

            @media only screen and (max-width: $desktop) {
                position: block;
                bottom: 0;
            }

            @media only screen and (max-width: $tablet) {
                bottom: 7px;
            }
        }

        &__img {
            @media only screen and (max-width: $desktop) {
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

            img {
                @media only screen and (max-width: $tablet) {
                    width: 260px;
                }
            }

        }

        &__about {
            margin: 0 auto;
            height: 234px;
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__title {
                color: #FFFFFF;
                width: 66%;
                @include h3;

                @media only screen and (max-width: $desktop) {
                    width: auto;
                }

                @media only screen and (max-width: $tablet) {
                    @include h3-mobile;
                    margin: 0px 0 45px 0;
                }

            }

            @media only screen and (max-width: $tablet) {
                height: auto;
                margin-bottom: 0;
                justify-content: center;
            }

            &__line {
                display: flex;
                align-items: center;
                color: $color-primary;
                @include h4;

                img {
                    margin-right: 20px;
                }

                @media only screen and (max-width: $tablet) {
                    margin: 0 auto;
                    margin-bottom: 33px;
                    align-items: flex-start;

                }
            }
        }

        @media only screen and (max-width: $desktop) {
            &__about:first-child {
                padding-left: 13px;
                width: 300px;
            }
        }

        @media only screen and (max-width: $tablet) {
            &__about:first-child {
                padding-left: 0px;
                width: 300px;
            }
        }

    }
}

@media only screen and (max-width: $tablet) {
    .footer {
        width: 100%;
        max-width: 1280px;
        height: 100%;
        margin: 0 auto;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
            text-decoration: none;
            color: $color-primary;
        }

        &__item {
            img {
                position: relative;
                bottom: 0px;
            }

            &__img {
                img {
                    width: 260px;
                }
            }

            &__about {
                margin: 0;
                height: auto;
                margin-bottom: 0px;
                display: flex;
                flex-direction: column;
                justify-content: baseline;
                height: auto;
                margin-bottom: 10px;
                justify-content: center;

                &__title {
                    font-family: Georgia, sans-serif;
                    color: #FFFFFF;
                    font-size: 35px;
                    letter-spacing: 0.06em;
                    line-height: 130%;
                    @include h3-mobile;
                    margin: 0 auto;
                    width: 290px;
                }

                &__line {
                    margin: 0 auto;
                    font-family: Georgia, sans-serif;
                    color: $color-primary;
                    font-size: 20px;
                    letter-spacing: 0.06em;
                    line-height: 115%;
                    margin-top: 42px;

                    img {
                        float: right;
                    }

                    &.add {
                        justify-content: start;
                    }

                    justify-content: center;
                    width: 300px;

                }

                &__line:last-child {
                    margin-top: 40px;
                }
            }
        }

        &__item:not(:last-child) {
            margin-bottom: 25px;
        }

    }

}

.modal {
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 30;

    &__content {
        position: relative;
        background-color: $color-light-s;
        height: 500px;
        width: 900px;
        margin: calc(50vh/2) auto;
        border-radius: 9px;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        display: flex;

        &__close {
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 2px solid $color-primary;
            box-sizing: border-box;
            border-radius: 100px;
            bottom: 500px;
            left: 891px;
        }

        &__img {
            height: 100%;
            border-bottom-left-radius: 9px;
            border-top-left-radius: 9px;

            img {
                border-bottom-left-radius: 9px;
                border-top-left-radius: 9px;
                height: 500px;
            }
        }

        &__card {
            display: flex;
            flex-direction: column;
            color: #000;
            margin: 50px 20px 0 30px;

            &__title {
                @include h3;
                margin-bottom: 10px
            }

            &__poroda {
                @include h4;
            }

            &__description {
                margin: 40px 0;
                @include h5;
            }

            &__list {
                margin-block-end: 0;
                margin-block-start: 0;
                padding-inline-start: 13px;
                @include h5-modal-window;

                li {
                    list-style: disc;
                    margin-bottom: 11px;
                    font-weight: normal;

                    &::marker {
                        height: 3px;
                        color: $color-primary;
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#modal-close:hover {
    background-color: $color-primary;
}

@media only screen and (max-width: $desktop) {
    .modal {
        position: absolute;
        overflow-y: scroll;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        z-index: 30;

        &__content {
            position: relative;
            background-color: $color-light-s;
            height: 350px;
            width: 630px;
            margin: calc(50vh/2) auto;
            border-radius: 9px;
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            display: flex;

            &__close {
                cursor: pointer;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border: 2px solid $color-primary;
                box-sizing: border-box;
                border-radius: 100px;
                bottom: 350px;
                left: 621px;
            }

            &__img {
                height: 100%;
                border-bottom-left-radius: 9px;
                border-top-left-radius: 9px;

                img {
                    border-bottom-left-radius: 9px;
                    border-top-left-radius: 9px;
                    height: 350px;
                }
            }

            &__card {
                display: flex;
                flex-direction: column;
                color: #000;
                margin: 10px 9px 0 11px;

                &__title {
                    @include h3;
                    margin-bottom: 10px
                }

                &__poroda {
                    @include h4;
                }

                &__description {
                    font-family: Georgia, sans-serif;
                    font-size: 13px;
                    line-height: 110%;
                    letter-spacing: 0.06em;
                    font-weight: normal;
                    margin: 10px 0;

                }

                &__list {
                    padding-inline-start: 13px;
                    @include h5;

                    li {
                        list-style: disc;
                        margin-bottom: 6px;
                        font-weight: normal;

                        &::marker {
                            height: 3px;
                            color: $color-primary;
                        }

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .modal {
        position: absolute;
        overflow: hidden;
        overflow-y: scroll;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        z-index: 30;

        &__content {
            position: relative;
            background-color: $color-light-s;
            height: 341px;
            width: 240px;
            margin: calc(50vh/2) auto;
            border-radius: 9px;
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            display: flex;

            &__close {
                cursor: pointer;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border: 2px solid $color-primary;
                box-sizing: border-box;
                border-radius: 100px;
                bottom: 341px;
                left: 218px;
            }

            &__img {
                display: none;
                height: 100%;
                border-bottom-left-radius: 9px;
                border-top-left-radius: 9px;

                img {
                    border-bottom-left-radius: 9px;
                    border-top-left-radius: 9px;
                    height: 500px;
                }
            }

            &__card {
                display: flex;
                flex-direction: column;
                color: #000;
                margin: 0 auto;
                padding: 10px 10px 0;

                &__title {
                    @include h3;
                    margin-bottom: 10px
                }

                &__poroda {
                    @include h4;
                }

                &__description {
                    margin: 20px 0 24px;
                    @include h5;
                    font-size: 13px;
                    text-align: justify;

                }

                &__list {
                    margin-block-end: 0;
                    margin-block-start: 0;
                    padding-inline-start: 13px;
                    @include h5-modal-window;

                    li {
                        list-style-type: disc;
                        margin-bottom: 6px;
                        font-weight: normal;

                        &::marker {
                            height: 3px;
                            color: $color-primary;
                        }

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

}

.modal__menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 41, 41, .6);
    z-index: 5;

}



.friends__blocks__carousel {
    display: flex;
    position: relative;
    left: -990px;

    @media only screen and (max-width: $desktop) {
        left: -580px;
    }

    @media only screen and (max-width: $tablet) {
        left: -270px;
    }
}

.friends__blocks__carousel__wrapper {
    width: 990px;
    overflow: hidden;

    @media only screen and (max-width: $desktop) {
        width: 580px;
    }

    @media only screen and (max-width: $tablet) {
        width: 270px;
    }
}

@keyframes to-right {
    from {
        left: -990px;
    }

    to {
        left: 0px;
    }
}

@keyframes to-right-des {
    from {
        left: -580px;
    }

    to {
        left: 0px;
    }
}

@keyframes to-right-tab {
    from {
        left: -270px;
    }

    to {
        left: 0px;
    }
}

.transition-right {
    animation-name: to-right;
    animation-duration: 5s;

    @media only screen and (max-width: $desktop) {
        animation-name: to-right-des;
    }

    @media only screen and (max-width: $tablet) {
        animation-name: to-right-tab;
    }

}

@keyframes to-left {
    from {
        left: -990px;
    }

    to {
        left: -1980px;
    }
}

@keyframes to-left-des {
    from {
        left: -580px;
    }

    to {
        left: -1160px;
    }
}

@keyframes to-left-tab {
    from {
        left: -270px;
    }

    to {
        left: -540px;
    }
}

.transition-left {
    animation-name: to-left;
    animation-duration: 5s;

    @media only screen and (max-width: $desktop) {
        animation-name: to-left-des;
    }

    @media only screen and (max-width: $tablet) {
        animation-name: to-left-tab;
    }
}



@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/Georgia/georgia.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/Georgia/georgia_bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/Arial/arial.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/Arial/arial_italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/Arial/arial_bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}